//COLOR LIBRARY

$rust: rgb(215,126,92);
$goldenYellow: rgba(253,220, 98,1);
$babyTeal: rgb(177,222,211);
$magenta: rgba(209, 80,209,1);
$lightTeal: rgb(204, 235, 242);
$teal: rgb(2, 207, 255);
$beige: rgb(236, 252, 212);
$brightGreen: rgb(181, 255, 67);

//PURPLES
$brightPurple: rgba( 63,  2,164,1);
$brightLavender: rgba(146, 92,235,1);
$lightestPurple: rgba(163,132,216,1);
$darkestPurple: rgba( 22,  1, 57,1);
$brightDarkPurple: rgba( 43,  2,110,1);

//PINK PURPLE 
$pinkPurple0: rgba(209, 80,209,1);
$pinkPurple1: rgba(248,121,248,1);
$pinkPurple2: rgba(248,140,248,1);
$pinkPurple3: rgba(134, 42,134,1);
$pinkPurple4: rgba(143, 65,143,1);

//YELLOWS THEME COLORS
$yellow0: rgba(255,234,155,1);
$yellow1: rgba(255,247,220,1);
$yellow2: rgba(255,250,232,1);
$yellow3: rgba(253,220, 98,1);
$yellow4: rgba(253,227,133,1);


// MIXINS

@mixin resumeItem($type) {
	margin: 20px 10px;
	border-radius: 10px;
  	padding: 10px 10px;
  	border-left: solid 2px $type;
  	h2, h3, h4 {
    margin: 0;
    padding: 0;
  }
}

