#greetings {
  text-align: center; }
  #greetings h1 {
    font-size: 3em; }

#hi {
  margin: 50px; }

h1 .arabic {
  font-size: 1.3em;
  position: relative;
  top: 5px; }

.upside-down-exclamation {
  position: relative;
  top: -6px; }

form {
  border: solid 1px;
  padding: 10px 20px;
  background: #DFEEF5;
  margin: 0 auto; }

.resumeItem {
  margin: 20px 10px;
  border-radius: 10px;
  padding: 10px 10px; }
  .resumeItem .desc {
    background: red; }
  .resumeItem h2, .resumeItem h3, .resumeItem h4 {
    margin: 0;
    padding: 0; }

.jobs {
  border-left: solid 2px #02cfff; }

.volunteering {
  border-left: solid 2px #b5ff43; }

.languages {
  border-left: solid 2px #d77e5c; }

.education {
  border-left: solid 2px #fddc62; }

.writing {
  border-left: solid 2px #b1ded3; }

.coding {
  border-left: solid 2px #d150d1; }
